.sidebar.sidebar-additional  ul.nav li.items {margin-top: 3px;}
.sidebar.sidebar-additional  ul.nav li.items a {color: #575757;display: block;padding: 5px 18px 5px 15px;}
.sidebar.sidebar-additional  ul.nav li.items a:hover {text-decoration: none;background-color: #e8e8e8;}
.sidebar.sidebar-additional  ul.nav li.items strong {border-left: 3px solid transparent;display: block;padding: 5px 18px 5px 15px;}
.sidebar.sidebar-additional  ul.nav li.items.current strong {border-left: 3px solid #ff5501;color: #000000;font-weight: 600;}

.inventorysystem-managesupplier-supplierdashboard .table-wrapper.orders-recent {margin-top: 0;}
#my-orders-table tr th {white-space: nowrap;}
/*.block .block-new-customer{float:right}*/

.inventorysystem-managesupplier-supplierdashboard .col2-set .col-1,
.inventorysystem-managesupplier-supplierdashboard .col2-set .col-2 {width: 50%;float: left;}
.inventorysystem-managesupplier-supplierdashboard .col2-set::after {content: '';clear: both;display: table;}

.page-main .column.main .fieldset {margin-bottom: 10px;}
.page-main .column.main form ul.form-list {padding-left: 0;list-style: none;margin-bottom: 0;}
.page-main .column.main form ul.form-list li.fields {margin-bottom: 15px;}
.page-main .column.main form ul.form-list label {line-height: 35px;font-weight: 600;}
.page-main .column.main form .fields em {font-style: normal;color: #F00;font-style: 12px;margin-left: 7px;font-weight: normal;}
.page-main .column.main form table.form-list em {font-style: normal;color: #F00;font-style: 12px;margin-left: 7px;font-weight: normal;}
.page-main .column.main form .buttons-set p.required {color: #F00;}
.page-main .column.main form .buttons-set .button {background: #1979c3;border: 1px solid #1979c3;color: #ffffff;box-shadow: none;line-height: 2.2rem;padding: 14px 17px;font-size: 1.8rem;}

.page-main .column.main .toolbar-amount .toolbar-number {margin-right: 10px;}
.page-main .column.main .pages li.item.current strong.page {padding: 1px 12px;background-color: #1979c3;color: #FFF;border-radius: 3px;}

.page-main .column.main .order-details .data-table {border: 1px solid #cccccc;}
.page-main .column.main .order-details .data-table thead th {white-space: nowrap;border-bottom: 1px solid #cccccc;}
.page-main .column.main .order-details .data-table thead th:nth-last-child(2),
.page-main .column.main .order-details .data-table tbody td:nth-last-child(2) {text-align: right;}
.page-main .column.main .order-details .data-table tbody td:last-child {text-align: right;}
.page-main .column.main .order-details .data-table tfoot {text-align: right;background-color: #f5f5f5;}

.limiter{display:block!important}

@media screen and (max-width: 767px) {
	.inventorysystem-managesupplier-supplierdashboard .col2-set .col-1,
	.inventorysystem-managesupplier-supplierdashboard .col2-set .col-2 {width: 100%;}
}

.inventorysystem-managesupplier-supplierdashboard .greet.welcome,
.inventorysystem-supplierlogin-editinfo .greet.welcome,
.inventorysystem-supplierlogin-editaddrinfo .greet.welcome,
.inventorysystem-supplierproduct-viewproduct .greet.welcome,
.inventorysystem-supplierproduct-createproduct .greet.welcome,
.inventorysystem-supplierorder-vieworder .greet.welcome,
.inventorysystem-supplierorder-vieworderdetails .greet.welcome{display: none !important;}