<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="navida_webinar" frontName="nvidia-webinar">
            <module name="Rptech_Webinar" />
        </route>
    </router>
</config>