<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="rp_cbfxv" frontName="rp_cbfxv">
            <module name="Rptech_Cbf" />
        </route>
    </router>
</config>