<?xml version="1.0"?>
<!--
/** Grid di xml
 * @category  Branchheads
 * @package   Managebranchheads_Branchheads
 * @author    Lalita Rajput
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Managebranchheads\Branchheads\Api\Data\GridInterface" type="Managebranchheads\Branchheads\Model\Grid" />

    <virtualType name="Managebranchheads\Branchheads\Model\ResourceModel\Grid\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">rptech_manageBranchHead</argument>
            <argument name="resourceModel" xsi:type="string">Managebranchheads\Branchheads\Model\ResourceModel\Grid</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="branchheads_record_grid_list_data_source" xsi:type="string">Managebranchheads\Branchheads\Model\ResourceModel\Grid\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Managebranchheads\Branchheads\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Managebranchheads\Branchheads\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">customLogHandler</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Managebranchheads\Branchheads\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
