<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Rptech_Feedback::feedback"
                title="Feedback"
                module="Rptech_Feedback"
                sortOrder="10"
                action="feedback/index/index"
                resource="Rptech_Feedback::feedback"
                parent="Rptech_ServiceAddress::main"
        />
    </menu>
</config>
