<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="rpt_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
            <tab>rptechin</tab>
            <resource>Rptech_General::config</resource>
            <group id="feedback_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Feedback Email Configuration</label>
                <field id="recepient_name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recepient Name</label>
                    <comment>Enter recepient name</comment>
                </field>
                <field id="recepient_email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recepient Email</label>
                    <comment>Enter recepient email address to get feedback notification</comment>
                </field>
            </group>
        </section>
    </system>
</config>