<!--@subject Thank You for Your Enquiry – Dell Pro Max GB10 @-->
{{template config_path="design/email/header_template"}}

<p>Dear Customer,</p>

<p>Thank you for your interest in Dell Pro Max GB10. We have successfully received your enquiry.</p>

<p>Rashi Peripherals Limited, an Authorised Distributor of Dell Technologies, appreciates the opportunity to assist you with your AI-powered performance solution requirements. Our team will review your enquiry and connect with you shortly to understand your business needs and provide the best possible solution.</p>

<p>We appreciate your interest and look forward to assisting you.</p>

<p>Best Regards,<br/>
    Team Rashi Peripherals Limited</p>
