<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_track_save_after">
        <observer name="delhiverytracking" instance="Delhivery\Lastmile\Observer\TrackProcess" />
    </event>
	<event name="sales_order_shipment_track_delete_after">
        <observer name="delhiverydeletetracking" instance="Delhivery\Lastmile\Observer\TrackDeleteProcess" />
    </event>
	<event name="order_cancel_after">
        <observer name="delhiverydeletetracking" instance="Delhivery\Lastmile\Observer\TrackOrderCancel" />
    </event>
</config>