<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Rptech_Brand::grid"
                title="Brands"
                module="Rptech_Brand"
                sortOrder="60"
                action="brand/admin/index"
                resource="Rptech_Brand::grid"
                parent="Rptech_ServiceAddress::main"
        />
    </menu>
</config>