<?xml version="1.0"?>
<!--
/**
 * Manageawards_Awards Grid routes xml
 * @category  Manageawards_Awards
 * @package   Manageawards_Awards
 * @author    Manageawards_Awards
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="awards" frontName="awards">
            <module name="Manageawards_Awards" />
        </route>
    </router>
</config>
