
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MyriadPro-Regular.woff') format('woff'),
      url('../fonts/MyriadPro-Regular.ttf')  format('truetype'),
      url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: #f0eeee;
    font-family: roboto;
}
.round-design{
    margin-bottom: -75px;
    position: relative;
    z-index: 6;
    border-radius: 0 0 23px 23px;
}
* { padding: 0; margin: 0; box-sizing: border-box;}

ul{
    list-style: none;
}
.container{
    background-color: white;
}
.highlighter{
            color: #eb7243;
}
        .strong{
            font-weight: 900;
            font-size: 20px;
            margin-bottom: 10px;
            font-family: roboto;
        }
        .container-main{
            float: left;
        }
        .container-main1{
            float: right;
        }
        .awards-menu{
            float: left;
            width: 25%;
        }
        .start{
            margin: 0 10px;
            font-size: 14px;
        }
        hr{
            color: black;
        }
        h1{
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 30px;
            font-family: roboto;
        }
        .main_fluid{
            font-weight: normal;
            margin-bottom: 40px;
            color: black;
            font-family: roboto;
        }
        .mar-mar{
            margin-bottom: 20px;
            color: black;
        }
        .padding{
            padding: 10px;
        }
        .padding p{
            color: #afaeae;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .padding h4{
            margin-top: 20px;
            margin-bottom: 22px;
        }
        .padding img{
            width: 100%;
        }
        .strong1{
            margin-left: 20px;
            font-weight: 700;
            font-family: roboto;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 24px;
            color: black;
        }
        .list{
            list-style-image: url(../images/icon-li.png);
        }
        .list li{
            margin: 10px 18px;
        }
.lists{
    font-family: roboto;
    font-size: 15px;
    font-weight: 500; 
}

.mi2{
    margin-left: -10px;
}

footer 										{ background: #2f3474; color: #fff; position: relative;z-index: 3;}
footer .foot-menu-wrap						{ padding:123px 150px 0 150px ;}
footer .heading 							{ font-size:1.563em; color:#fff; position:relative; margin-bottom:1.800em; margin-top:1em;}
footer .heading:after						{ position:absolute; left:0; bottom:-10px; border-bottom:solid 2px #fff; background:#fff; content:""; width:55px;}
footer ul									{ margin:0px;}
footer ul li a			 					{ color:#fff; font-weight:normal; font-size:14px; transition:0.5s; display:block; padding-bottom:1.071em;}
footer ul li a span 						{ margin-right:10px;}
footer ul li a .icon-right-arrow			{ font-size:0.563em;}
footer .foot-menu ul li 					{ width:50%; float:left;}
footer .foot-menu ul li a:hover				{ color:rgba(255, 255, 255, 0.8); padding-left:5px;}
footer .foot-menu ul li a:focus				{ color:rgba(255, 255, 255, 0.8); padding-left:5px;}
footer .foot-menu ul li a:hover span 		{ color:#5c5c5c;}
footer .foot-menu ul li a:focus	span 		{ color:#5c5c5c;}
footer .address								{ padding:0 30px;}
footer .address ul li						{ width:100%; margin-bottom:1em;}
footer .address ul li span 	  				{ width: 55px; display: inline-block; font-size: 1.714em;}
footer .address ul li a					    { width: calc(100% - 60px); display: inline-block; vertical-align: top;}
footer .social								{ padding-left:30px;}
footer .social ul li 						{ display:table-cell; vertical-align:middle; font-size:1.500em;}
footer .social ul li a span 				{ font-size:1.500em;}

footer .foot-copyright						{ background:#252b67; padding:1.500em 0;}
footer .foot-copyright ul li + li 	 		{ border-left:solid 2px #fff;}
footer .foot-copyright ul li 				{ display:inline-block; padding:0 5px; line-height:14px;}
footer .foot-copyright ul li a  			{ padding:0px; line-height:14px; display:inline-block;}
footer .foot-copyright p					{ font-size:0.875em; font-weight:400; margin:0;} 
      .lists{
            font-family: roboto;
            font-size: 16px;
            font-weight: normal;
            color: black;
        }
        .dropdown a{
            text-decoration: none;
            color: black;
        }
        .dropdown-menu li{
            margin: 10px;
        }
        .collapse.navbar-collapse{
            padding: 15px;
        }
        .navbar{
            background-color: white;
            border-top: 5px solid #e85302;
            border-bottom: 2px solid #dedcdc;
            margin-bottom: 0;
            box-shadow: 3px 0px 2px 2px #dedcdc;
        }
        .navbar-default .navbar-nav>li>a{
            color: black;
            font-weight: normal;
        }
.mi1{
    margin-left: 17px;
}
.navbar-header{
    position: relative;
}
.ico{
    margin-left: 35px;
}
.icon1{
    height: 11px;
}
li.header-icon.lists{
    margin-right: -11px;
}
.logo{
    position: absolute;
    top: 5px;
}
.icon-back:before {
  content: "\e900";
}
.icon-shopping-cart-1:before {
  content: "\e901";
}
.icon-online-shopping-cart:before {
  content: "\e902";
}
.icon-shopping-cart:before {
  content: "\e903";
}
.icon-people:before {
  content: "\e904";
}
.icon-trolley:before {
  content: "\e905";
}
.icon-percentage:before {
  content: "\e906";
}
.icon-social-google-plus-circular-button:before {
  content: "\e907";
}
.icon-social-linkedin-circular-button:before {
  content: "\e908";
}
.icon-social-twitter-circular-button:before {
  content: "\e909";
}
.icon-social-facebook-circular-button:before {
  content: "\e90a";
}
.icon-mail:before {
  content: "\e90b";
}
.icon-smartphone:before {
  content: "\e90c";
}
.icon-placeholder:before {
  content: "\e90d";
}
.icon-right-arrow:before {
  content: "\e90e";
}
.icon-menu:before {
  content: "\e90f";
}
.icon-right-arrow-1:before {
  content: "\e910";
}

       
/*======================start---brand-head===========================================*/
.headline{
    color: #2f3474;
    font-family: roboto;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
hr{
    background-color: #cac9c8;
    height: 1px;
    margin-bottom: 31px;
}
.para {
    font-family: 'roboto';
    font-size: 16px;
    font-weight: normal;
}
.brand-head-names{
    margin-top: 60px;
}
.pagination>.active>a{
    background-color: #2f3474;
    border: 1px solid ;
    border-color: #2f3474;
}
.brand-head-container{
    margin: 0 20px;
}

/*======================End---brand-head===========================================*/



/*======================start---rashi-contact===========================================*/

.contact-branches{
    text-align: center;
    background-image: url(../images/contact-branches-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.contact-branches h3{
    font-family: 'roboto';
    font-size: 34px;
    color: #ffffff;
    font-weight: normal;
    padding-top: 34px;
    padding-bottom: 81px;
}
.contact-branches .custom-select{
    margin-top: 81px;
    bottom:  90px;
}
.contact-career-headline{
    text-align: center;
}
.contact-career-headline h3{
    font-family: 'roboto';
    font-size: 34px;
    color: #000000;
    font-weight: normal;
    padding-top: 0px;
}
.contact-career-headline p{
    font-family: 'roboto';
    font-size: 14px;
    color: #000000;
    font-weight: normal;
    padding-top: 0px;
}
.form{
    border: none;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    margin-bottom: 38px;
    margin: 0px 50px 38px 50px;
    font-family: 'roboto';
    font-weight: normal;
    color: #282b2d;
}
.form::placeholder{
    color: black;
}
.contact-form{
    margin-top: 77px;
    margin-right: 85px;
}
.contact-form button{
    background-color: #e85302;
    padding: 16px 76px;
    text-decoration: none;
    color: white;
    width: 300px;
    border: 1px solid #cccccc;
    font-size: 18px;
    font-family: 'roboto';
    font-weight: normal;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 82px;
}
.attacher h4{
    float: left;
}
.attacher .attach{
    float: left;
    position: absolute;
    right: -37px;
    background-color: #e85302;
    padding: 11px 30px;
    text-decoration: none;
    color: white;
    border: 1px solid #cccccc;
    font-size: 18px;
    font-family: 'roboto';
    font-weight: normal;
    cursor: pointer;
}
label{
    margin-left: 65px;
    color: #807e7e;
    font-family: 'roboto';
    font-weight: normal;
    font-size: 14px;
}
.contact-tabs-anchor{
    font-family: roboto;
    font-size: 20px;
    font-weight: 500;
    width: 25%;
    display: block;
    float: left;
    color: black;
    text-decoration: none;
    position: relative;
}
.contact-tabs-anchor:hover{
    text-decoration: none;
    color: #e85302;
}
.contact-tabs-anchor:active,.contact-tabs-anchor:focus{
    color: #e85302;
    text-decoration: none;
}
.contact-tabs{
    margin: 0 auto;
    padding: 10px;
    border-bottom: 2px solid #e85302;
    text-align: center;
    max-width: 880px;
}
.contact-active{
    color: #e85302;
    text-decoration: none;
}
.contact-active:after{
    width: 10px;
    height: 10px;
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    border-style: solid;
    border-width: 10px;
    margin-left: -10px;
    margin-top: 10px;
    border-color: #e85302 transparent transparent;
}
.myrow{
    margin-left: -15px;
    margin-right: -15px;
}
.contact-info{
    width: 35%;
    min-height: 450px;
    background-color: #2f3474;
}
.map{
    width: 65%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.main_contact{
    position: relative;
}
.design-icon{
    color: white;
    background-color: #212663;
    width: 69px;
    height: 69px;
    border-radius: 360px;
    text-align: center;
}
.design-icon i{
    line-height: 69px;
    font-size: 25px;
}
.contact-info-para h3{
    font-family: 'roboto';
    font-weight: normal;
    font-size: 16px;
    color: white;
    text-align: center;
}
.map-info-div{
    border-bottom: 1px solid #1e2254;
    padding: 40px;
    margin: 40px;
}
.custom-select {
  position: relative;
  font-family: roboto;
  width: 444px;
  font-size: 18px;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: transparent;
  text-align: left;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "\f107";
  font-family: fontawesome;
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  content: "\f106";
  font-family: fontawesome;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #2f3474;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.select-selected {border-bottom: 1px solid #606060;}
/*======================End---rashi-contact===========================================*/



/*======================start---Media===========================================*/
/*the container must be positioned relative:*/
.custom-select-my {
  position: relative;
  font-family: roboto;
  width: 100%;
}
.custom-select-my select {
  display: none;
  color: black;
}
.select-selected-my {
  background-color: #f3f3f3;
}
/*style the arrow inside the select element:*/
.select-selected-my:after {
  position: absolute;
  content: "\f107";
  font-family: fontawesome;    
  top: 14px;
  right: 20px;
  width: 10px;
  height: 10px;
  
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected-my.select-arrow-active-my:after {
  content: "\f106";
  font-family: fontawesome;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items-my div,.select-selected-my {
  color: #9a9a9a;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: #d7d5d5;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items-my {
  position: absolute;
  background-color: #f3f3f3;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide-my {
  display: none;
}
.select-items-my div:hover, .same-as-selected-my {
  background-color: rgba(0, 0, 0, 0.1);
}
.media-search{
    text-align: center;
    line-height: 38px;
    background-color: #e85302;
    color: white;
    font-family: roboto;
    font-size: 18px;
    border: 1px solid #d7d5d5
}
#more {display: none;}
.media-sub-menu{
    border-bottom: 1px solid ;
}
.media-sub-menu h3{
    font-size: 14px;
    color: #ea6626;
    font-family: roboto;
}
.media-sub-menu p{
    font-size: 18px;
    font-family: roboto;
}
.media-sub-menu .col-md-2{
    text-align: center;
    line-height: 100px;
    height: 100px;
}
.morecontent span {
    display: none;
}
.morelink {
    display: inline-block;
    color: #2f3474;
    font-family: roboto;
    font-size: 18px;
    text-decoration: none;
}
.morelink:focus{
    text-decoration: none;
    color: #2f3474;
}
.morelink:hover{
    text-decoration: none;
}
.morelink less:hover{
    text-decoration: none;
}
.sf-back-to-top {
    background-color: #2f3474; /* button color */
    color: white; /* text/arrow color */ 
    display: none;
    z-index: 999;
    /* float in bottom right corner */
    /* 20 pixels from edge */
    position: fixed;
    right: 20px;
    bottom: 50px;
    /* size of button is 50 pixels*/
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    /* round button */
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.media-menu{
    position: relative;
}
a.sf-back-to-top {
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    padding-left: 2px;
    padding-top: 4px;    
}
.fa-arrow-up:before{
    content: "\f062";
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    cursor: pointer;
}

a.sf-back-to-top .arrow:before {
    content: "\f062";
    font-family: fontawesome;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\e02d";
    text-align: center;
    display: block;
    vertical-align: middle;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    cursor: pointer;
    margin-left: -4px;
}
/*======================End---Media===========================================*/



/*======================Start---News===========================================*/
.news-sub-menu{
    border-bottom: 1px solid #cac9c8;
}
.news-sub-menu h2{
    font-family: roboto;
    font-size: 24px; 
}
.news-sub-menu p{
    font-size: 18px;
    font-family: roboto;
}
.news-events h3{
    font-family: roboto;
    font-size: 24px;
}
.margin1611{
    margin-top: 15px;
}
/*======================End---News===========================================*/



/*======================Start---Product_1===========================================*/
.product-headline{
    font-size: 36px;
    font-family: roboto;
    font-weight: normal;
    color: #f7690b;
    display: inline-block;
}
.floater-left{
    float: right;
    display: inline-block;
    width: 170px;
    margin: 30px 35px;
}
/*======================End---Product_1===========================================*/


/*======================Start---F.A.Q.===========================================*/

.faq-question{
    font-size: 18px;
}
.add-img{
    margin: 12px;
}
.faq-toggle{
    margin-top: 16px;
}
.faq-toggle-div{
    margin: 5px;
    padding: 20px;
    border-bottom: 1px solid #f2f2f2;
    line-height: 28px;
    display: none;
}
.minus{
    display: none;
}
/*======================End---F.A.Q.===========================================*/



/*======================Start---Login===========================================*/


.login{
    margin-top: 160px;
    margin-bottom: 160px;
    position: relative;
}
.login-headline{
    font-size: 36px;
}
.form-content{
    display: block;
    border: none;
    border-bottom: 1px solid #dfdcd9;
    padding: 13px;
    padding-left: 4px;
    width: 100%;
    margin-top: 60px;
}
.form-content::placeholder{
    font-size: 17.79px;
    color: #282b2d;
}
.login-merg-container{
    margin: 60px 40px 139px 0px;
}
button.login-button {
    background-color: #e85302;
    display: inline-block;
    padding: 20px 70px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 24px;
    margin-top: 60px;
}
p.create-new-login {
    font-size: 17.76px;
    margin-top: 50px;
    display: block;
    color: #282b2d;
    cursor: pointer;
}
a.login-forgot {
    float: right;
    margin-top: 80px;
    color: #282b2d;
    font-size: 17.76px;
}
span.highlight-new-one {
    color: #e85302;
    border-bottom: 1px solid;
}
.login-merg-container-options{
    margin: 160px 60px 120px 110px;
}
 .login-options-img{
    padding: 16px;
    float: left;
    border-radius: 3px 0px 0px 3px;
    height: 56px;width: 56px;
    color: white;
    font-size: 28px;
    text-align: center;
}
.login-options-content{
    font-size: 23.99px;
    color: #fff;
    padding: 12.50px;
    width: 300px;height: 56px;
    border-radius: 0px 3px 3px 0px;
    float: left;
}
.guest-image{
    background-color: #1c7323;
}
.guest-content{
    background-color: #22832a;
}
.facebook-image{
    background-color: #344e87;
}
.facebook-content{
    background-color: #3c5899;
}
.twitter-image{
    background-color: #42a2d4;
}
.twitter-content{
    background-color: #45afe3;
}
.google-image{
    background-color: #d13c24;
}
.google-content{
    background-color: #de4c33;
}
.login-options{
    margin-top: 1.250em;
}
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #ddd;
  height: 90%;
  margin: 35px auto;
}
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 8px 10px;
}

/*======================End---Login===========================================*/

/*======================Start---Registration===========================================*/


            .registration-headline{
                font-size: 35.95px;
                color: #13151b;
                border-bottom: 1px solid #c1bdbb;
                font-weight: normal;
                padding: 20px 0px 20px 50px;
            }
            .registration-paragraph{
                color: #282b2d;
                font-size: 16px;
                padding: 0px 0px 20px 50px;
            }
            .check-headline{
                font-size: 24px;
                font-weight: normal;
                padding: 50px 0px 20px 50px;
            }
            .otp-box{
                border: 1px solid #dfdcd9;
                margin: 10px 0px 20px 50px;
                height: 50px;width: 50px;
            }
            .margin-button{
                margin: 10px 0px 100px 50px;
            }
            .resend{
                float: right;
                margin: 59px 150px 20px 0px;
                font-size: 16px;
            }
.note-rp{
    font-size: 15.25px;
    margin-top: 10px;
}
.regis-container{
    max-width: 630px;
}
/*======================End---Registration===========================================*/


/*======================start---@media-Query===========================================*/
 @media (max-width:1200px){
    .awards-menu{
        width: 33.33%;
    }
    footer .foot-menu-wrap{
        padding:0 50px;
    }
     a.sf-back-to-top{
         display: none;
     }
     .login-merg-container-options {
         margin: 160px 24px 120px 60px;
    }
}


@media (max-width:991px){
    footer .address{
        padding: 0;
    }
    .lists{
        font-size: 12px;
    }
    footer .social{
        padding: 0;
    }
    footer .foot-menu-wrap 	{
        padding:0px;
    }
    .collapse.navbar-collapse{
        padding: 7px;
    }
    .navbar-brand>img{
        width: 120px;
    }
    .brand-head-img{
         height: 212px;
         width: auto;
    }
    .col-md-2{
        text-align: center;
    }
    .headline{
        font-size: 22px;
    }
    .para{
        font-size: 12px;
    }
    .contact-tabs-anchor{
        font-size: 15px;
    }
    .contact-info-para h3{
        font-size: 13px;
    }
    .media-sub-menu{
        margin-top: 45px;
    }
    .select-items-my div,.select-selected-my {
        margin-right: 0px;
   }
    .login-headline {
    font-size: 27px;
   }
    button.login-button {
    background-color: #e85302;
    display: inline-block;
    padding: 15px 50px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    margin-top: 40px;
    }
    .form-content{
        margin-top: 40px;
    }
    a.login-forgot {
    /* float: left; */
    margin-top: 56px;
    color: #282b2d;
    font-size: 13px;
    }
    p.create-new-login{
        font-size: 13px;
        margin-top: 25px;
    }
    .login-options-img {
    padding: 10px;
    height: 44px;
    width: 44px;
    font-size: 23px;
    }
    .login-merg-container-options {
    margin: 99px 12px 78px 20px;
    }
    .login-merg-container {
    margin: 74px 40px 34px 0px;
    }
    .login-options-content {
    font-size: 20px;
    padding: 9px;
    width: 254px;
    height: 44px;
    }
}


@media (max-width:862px){
    .nav>li>a{
         padding: 10px 9px;
         font-size: 12px;
    }
    .mi2{
        margin-left: 0px;
    }
    .navbar-brand{
        padding-top: 8px;
        padding-right: 5px;
    }
    
}


@media (max-width:767px){
    .navbar-brand img{
        height: 40px;
        width: 99px;
    }
    .collapse.navbar-collapse{
        padding: 9px;
    }
    .contact-tabs-anchor{
        font-size: 12px;
    }
    .contact-info{
        width: 100%;
    }
    .map{
        width: 100%;
        position: static;
        margin-top: -50px;
    }
    .login-merg-container-options {
    margin: 99px 12px 78px 20px;
    border-top: 1px solid;
    padding: 20px;
    }
    .login-options-content{
        width: 85%;
    }
    .login-options-img{
        width: 15%;
    }
    .vl{
        display: none;
    }
    .login{
        margin-top: 100px;
    }
}


@media (max-width:720px){
    footer .foot-copyright p 			    { text-align:left; margin:10px 0;}
    .foot-menu 								{ margin-top:45px;}
    footer .heading							{ margin:0px auto 20px;}
    .registration-headline{
        font-size: 30px;
    }
    .registration-paragraph{
        font-size: 14px;
    }
    .check-headline{
        font-size: 20px;
    }
    .otp-box{
        height: 40px;width: 40px;
    }
    .resend{
        font-size: 14px;
        margin-right: 100px;
    }
}
        


@media (max-width:668px){
    .display1{
        display: none;
    }
}
@media (min-width:668px){
    .display2{
        display: none;
    }
}

@media (max-width:480px){
            .awards-menu{
                width: 50%;
            }
            footer .address ul li span { width:35px;}
}


@media (max-width:420px){
    .custom-select{
        width: 334px;
    }
    .login-headline{
        font-size: 20px;
    }
    .form-content{
        margin-top: 30px;
    }
    .form-content::placeholder{
       font-size: 13px;
    }
    button.login-button {
    padding: 13px 40px;
    font-size: 15px;
    margin-top: 30px;
    }
    a.login-forgot {
    /* float: left; */
    margin-top: 46px;
    color: #282b2d;
    font-size: 11px;
    }
    button.login-button {
    padding: 13px 34px;
    font-size: 12px;
    margin-top: 30px;
    /* float: left; */
    }
    .resend{
        float: none;
        font-size: 11px;
    }
    .otp-box{
        margin-left: 40px;
        
    }
}

/*======================End---@media-Query===========================================*/


