<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="customsetting" translate="label" sortOrder="100">
            <label>Custom Setting</label>
        </tab>
        <section id="cartban" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Cart Ban</label>
            <tab>customsetting</tab>
            <resource>Lalita_Mysmsmodule::helloworld_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="hours_limit" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Number of Hours:</label>
                    <comment>Enter number of hours user won't be able to purchase same product again.</comment>
                </field>
                <field id="display_text" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Display Text</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="display_text_order" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Display Text On Order Page</label>
                    <comment>This text will display on the order page.</comment>
                </field>
            </group>
        </section>
        <section id="rpt_general">
            <resource>Rptech_General::config</resource>
            <group id="whatsapp">
                <field id="wa_template_send_enq" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template for Send Enquiry Message</label>
                    <comment>Template to use in sending message to customer on send enquiry</comment>
                </field>
            </group>

            <group id="enquiry_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Product Enquiry Email Configuration</label>
                <field id="recepient_name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recepient Name</label>
                    <comment>Enter recepient name</comment>
                </field>
                <field id="recepient_email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recepient Email</label>
                    <comment>Enter recepient email address to get feedback notification</comment>
                </field>
            </group>
        </section>
    </system>
</config>
