<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Biztech, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_inventorysystem">
        <observer name="inventorysystem" instance="Biztech\Inventorysystem\Observer\CheckKey" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="managehistoryevent" instance="Biztech\Inventorysystem\Observer\ProductApprove" shared="false"/>
    </event>
</config>