<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rptech>
            <quantumrma>
                <sender>sales</sender>
                <data_email_template>rptech_quantumrma_data_email_template</data_email_template>
            </quantumrma>
        </rptech>
    </default>
</config>
