<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="rptech_quantumrma_quantumrma_listing_data_source" xsi:type="string">Rptech\QuantumRma\Model\ResourceModel\QuantumRma\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Rptech\QuantumRma\Model\ResourceModel\QuantumRma\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">rptech_quantumrma</argument>
            <argument name="resourceModel" xsi:type="string">Rptech\QuantumRma\Model\ResourceModel\QuantumRma</argument>
        </arguments>
    </virtualType>
</config>
