<?xml version="1.0"?>
<!--
/** Grid adminhtml routes xml
 * @category  Leaders 
 * @package   Manageleaders_Leaders
 * @author    Lalita Rajput
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="leaders" frontName="leaders">
            <module name="Manageleaders_Leaders" />
        </route>
    </router>
</config>
