<?xml version="1.0"?>
<!--
/** Managehomeslider_Homepageslider module xml
 * @category  Managehomeslider_Homepageslider 
 * @package   Managehomeslider_Homepageslider
 * @author    Lalita Rajput
 */
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Managehomeslider_Homepageslider" setup_version="1.0.0">
    </module>
</config>
