<?xml version="1.0"?>
<!--
/** Manageaboutus_Aboutus adminhtml routes xml
 * @category  Manageaboutus_Aboutus 
 * @package   Manageaboutus_Aboutus
 * @author    Lalita Rajput
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="aboutus" frontName="aboutus">
            <module name="Manageaboutus_Aboutus" />
        </route>
    </router>
</config>
