<?xml version="1.0"?>
<!--
/**
 * Copyright © Ulmod. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
	    <umscrolltotop>
            <general>
                <enabled>0</enabled>
            </general>
            <design>
              <link_color>#FFFFFF</link_color>	
              <link_bg_color>#BFBEBE</link_bg_color>				  
            </design>			
	    </umscrolltotop>
	</default>
</config>