<?xml version="1.0"?>
<!--
/**
 * Delhivery_Lastmile extension
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category  Delhivery
 * @package   Delhivery_Lastmile
 * @copyright Copyright (c) 2018
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Delhivery\Lastmile\Controller\Adminhtml\Awb\MassDelete">
        <arguments>
            <argument name="successMessage" xsi:type="string">A total of %1 Manage AWBs have been deleted.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while deleting Manage AWBs.</argument>
        </arguments>
    </type>
    <type name="Delhivery\Lastmile\Controller\Adminhtml\Pincode\MassDelete">
        <arguments>
            <argument name="successMessage" xsi:type="string">A total of %1 Manage Pincodes have been deleted.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while deleting Manage Pincodes.</argument>
        </arguments>
    </type>
    <type name="Delhivery\Lastmile\Controller\Adminhtml\Location\MassDelete">
        <arguments>
            <argument name="successMessage" xsi:type="string">A total of %1 Manage Locations have been deleted.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while deleting Manage Locations.</argument>
        </arguments>
    </type>
</config>
