<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Rptech_Announcement::grid"
                title="Announcement"
                module="Rptech_Announcement"
                sortOrder="70"
                action="announcement/admin/index"
                resource="Rptech_Announcement::grid"
                parent="Rptech_ServiceAddress::main"
        />
    </menu>
</config>