<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Rptech_ServiceAddress::main_menu">
                    <resource id="Rptech_Webinar::webinar" title="Webinar Submissions" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
