<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="rptech_webinar_webinar_listing_data_source" xsi:type="string">Rptech\Webinar\Model\ResourceModel\Webinar\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Rptech\Webinar\Model\ResourceModel\Webinar\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">rptech_webinar</argument>
            <argument name="resourceModel" xsi:type="string">Rptech\Webinar\Model\ResourceModel\Webinar</argument>
        </arguments>
    </virtualType>
</config>
