<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="rpt_general">
            <resource>Rptech_General::config</resource>
            <group id="whatsapp" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>WhatsApp Settings</label>
                <!--<field id="watxt_neworder" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WhatsApp Message Text New Order</label>
                    <comment>The text to be sent in the whatsapp message on new order place</comment>
                </field>
                <field id="watxt_shipment" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WhatsApp Message Text Shipment</label>
                    <comment>The text to be sent in the whatsapp message on shipment generation</comment>
                </field>-->
                <field id="wa_template_registration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template for Registration Message</label>
                    <comment>Template to use in sending message to customer on registration</comment>
                </field>
                <field id="wa_template_new_order" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template for New Order Message</label>
                    <comment>Template to use in sending message to customer on new order place</comment>
                </field>
                <field id="wa_template_shipment" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template for Shipment Message</label>
                    <comment>Template to use in sending message to customer on shipment generation</comment>
                </field>
                <field id="wa_template_refund" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template for Refund Message</label>
                    <comment>Template to use in sending message to customer on order refund</comment>
                </field>
            </group>
        </section>
    </system>
</config>
